<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">  
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Contact:</h5>
                <ul>
                    <li>
                        <a class="white-text" href="mailto:caitlin.e.meyer@gmail.com">
                            Email
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="http://linkedin.com/in/caitlinemeyer">
                         LinkedIn
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://github.com/caitlinmeyer">
                           Github
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://instagram.com/ctlnmyr">
                        Instagram
                        </a>
                    </li>
                </ul>
            </div>
            
             <div class="col l6 s12">
                <h5 class="white-text">A few of my favorite things:</h5>
                <ul>
                   
                    <li>
                        <a class="white-text" href="http://www.winterwondergrass.com/">
                        Winterwondergrass
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.google.com/maps/d/view?mid=1HfRg6F2EaqD8rMgdYwJWRZ6fwvU">
                          Visiting Breweries
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://studentorg.vanderbilt.edu/wilskills/">
                        Vanderbilt WilSkills
                        </a>
                    </li>
                     <li>
                        <a class="white-text" href="http://in-disposables.tumblr.com/">
                           Disposable Cameras
                        </a>
                    </li>
                </ul>
            </div>
            
            
        </div>
    </div>
    <div class="footer-copyright default_color">
        <div class="container">
            Thanks to <a class="white-text" href="http://joashpereira.com">Joash Pereira</a> for the theme, <a class="white-text" href="http://materializecss.com/">materializecss</a> for the framework, and <a class="white-text" href="http://github.com/">Github</a> for being awesome.
        </div>
    </div>
</footer>
